@tailwind base;

@tailwind components;

@tailwind utilities;

.bg-orange-texture {
    background-image: url('/assets/images/orange-texture.webp');

}

.bg-blue-texture {
    background-image: url('/assets/images/blue-texture.webp');
}

.bg-purple-texture {
    background-image: url('/assets/images/purple-texture.webp');
}

.bg-green-texture {
    background-image: url('/assets/images/green-texture.webp');
}

.syne-text {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.work-sans-text {
  font-family: "Work+Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.syne-bold {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.work-sans-text-bold {
  font-family: "Work+Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
